@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2cd6fd;
  --font-sans: "Geist Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #69c6ff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}
code,
pre {
  font-family: var(--font-mono);
}
